// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// nav bar

#login-logout {
  display: inline-block;
  a {
    display: inline-block;
  }
  }